openapi: 3.0.1
info:
  title: Terminal49 Containers Shipping Lines API
  description: Terminal49 v2 container and ocean-freight tracking API. A single integration to track Bills of Lading, bookings, and container numbers across global ocean carriers and North American rail, returning normalized milestones, ETAs, terminal availability, holds, demurrage fees, and last free day. The API follows the JSON:API specification; all requests and responses use the `application/vnd.api+json` media type and authenticate with a Token header.
  termsOfService: https://www.terminal49.com/terms-of-service/
  contact:
    name: Terminal49 Support
    url: https://terminal49.com/docs/api-docs/api-reference/introduction
    email: support@terminal49.com
  version: '2.0'
servers:
- url: https://api.terminal49.com/v2
  description: Terminal49 v2 production API
security:
- TokenAuth: []
tags:
- name: Shipping Lines
paths:
  /shipping_lines:
    get:
      operationId: listShippingLines
      tags:
      - Shipping Lines
      summary: List shipping lines
      responses:
        '200':
          description: A list of supported shipping lines with SCAC codes.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ShippingLineList'
  /shipping_lines/{id}:
    get:
      operationId: getShippingLine
      tags:
      - Shipping Lines
      summary: Retrieve a shipping line
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: The requested shipping line.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ShippingLineSingle'
components:
  schemas:
    ShippingLineSingle:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ShippingLineResource'
    ShippingLineList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ShippingLineResource'
        links:
          $ref: '#/components/schemas/JsonApiLinks'
    JsonApiLinks:
      type: object
      properties:
        self:
          type: string
        first:
          type: string
        prev:
          type: string
        next:
          type: string
        last:
          type: string
    ShippingLineResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - shipping_line
        attributes:
          $ref: '#/components/schemas/ShippingLineAttributes'
    ShippingLineAttributes:
      type: object
      properties:
        scac:
          type: string
        name:
          type: string
        short_name:
          type: string
        bill_of_lading_prefixes:
          type: array
          items:
            type: string
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: The resource identifier (UUID).
      schema:
        type: string
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based authentication. Send the header `Authorization: Token YOUR_API_KEY`.'
